
<div class="body-1">
    <div class="body-2">
        <div class="nevbar-1" style="height:43px;">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid" style="padding:0px;justify-content: initial;">
                    <button class="navbar-toggler pad1 pe-2" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="dropdown navbar-toggler border-0">
                        <a href="#" class="d-flex align-items-center text-black text-decoration-none"
                           id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="~/assets/user-img.png" alt="hugenerd" width="30" height="30"
                                 class="rounded-circle">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-white text-small shadow">
                            <li><a class="dropdown-item" href="#">My Profile</a></li>
                            <li><a class="dropdown-item" href="#">Volunteering Timesheet</a></li>
                            <li><a class="dropdown-item" href="#">Logout</a></li>
                        </ul>
                    </div>

                    <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1"
                         id="navbarSupportedContent" aria-labelledby="offcanvasExampleLabel">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvasExampleLabel"></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                    aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <div class="navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="#">Stories </a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown"
                                           aria-expanded="false">
                                            Policy<i class="bi bi-chevron-down ps-1"
                                                     style="font-size:12px;"></i></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Volunteering</a></li>
                                            <li><a class="dropdown-item" href="#">Sponsored</a></li>
                                        </ul>
                                    </li>
                                </ul>

                                <div class="dropdown">
                                    <a href="#" class="d-flex align-items-center text-black text-decoration-none"
                                       id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                                        <img src="~/assets/user-img.png" alt="hugenerd" width="30" height="30"
                                             class="rounded-circle">
                                        <span class="d-none d-sm-inline mx-1">
                                            Ritul<i class="bi bi-chevron-down ps-1" style="font-size:12px;"></i>
                                        </span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-white text-small shadow">
                                        <li><a class="dropdown-item" href="#">My Profile</a></li>
                                        <li><a class="dropdown-item" href="#">Volunteering Timesheet</a></li>
                                        <li><a class="dropdown-item" href="#">Logout</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <hr>
    <div class="body-2">
        <h5>Privacy and Cookies Policy</h5>
        <div class="row">
            <div class="col-4" style="font-size:10px;">
                <div id="list-example" class="list-group" style="position: -webkit-sticky;position: sticky;top: 0;">
                    <a class="list-group-item list-group-item-action policycontainer1"
                       href="#list-item-1">
                        Introduction
                        <i class="bi bi-chevron-right float-end"></i>
                    </a>
                    <a class="list-group-item list-group-item-action policycontainer1" href="#list-item-2">
                        How does
                        use cookies?<i class="bi bi-chevron-right float-end"></i>
                    </a>
                    <a class="list-group-item list-group-item-action policycontainer1" href="#list-item-3">
                        How to
                        manage your cookie
                        preferences?<i class="bi bi-chevron-right float-end"></i>
                    </a>
                </div>
            </div>
            <div class="col-8">
                <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true"
                     class="scrollspy-example" tabindex="0">

                    <h6 id="list-item-1">Introduction</h6>
                    <p style="font-size:10px;">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa
                        molestias
                        provident ut tempora
                        blanditiis voluptatem, amet inventore neque necessitatibus, cupiditate libero rerum.
                    </p>
                    <p style="font-size:10px;">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore vero
                        neque aperiam.
                    </p>
                    <p style="font-size:10px;">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur
                        voluptate neque odit a officia
                        facilis velit animi, eius voluptatem incidunt harum asperiores perferendis iusto facere?
                    </p>
                    <hr>

                    <h6 id="list-item-2">How does use cookies?</h6>
                    <p style="font-size:10px;">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur
                        atque
                        dolor ea mollitia perferendis deleniti incidunt, ipsa ut tempore, fuga ipsum ipsam
                        voluptatem
                        deserunt iusto!
                    </p>
                    <h6 style="font-size:12px;">Why Optimy Uses These Technologies?</h6>
                    <p style="font-size:10px;">We use these technologies for a number of purposes, such as:</p>
                    <ul style="font-size:10px;">
                        <li>
                            But I must explain to you how all this mistaken idea of denouncing pleasure and praising
                            pain
                        </li>
                        <li>
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                            voluptatum deleniti atque
                        </li>
                        <li>
                            excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia
                            deserunt mollitia animi.
                        </li>
                        <li>
                            On the other hand, we denounce with righteous indignation and dislike men who are so
                            beguiled and demoralized
                        </li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi id tempora pariatur.</li>
                    </ul>
                    <p style="font-size:10px;">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae
                        ipsum
                        nam sed, ducimus accusamus obcaecati voluptatibus nisi consequatur temporibus quasi eveniet
                        eum
                        similique quaerat
                        architecto assumenda? Inventore sapiente nulla quam nemo laudantium doloribus odio ratione,
                        consectetur est sunt facere itaque nam sequi possimus facilis eius voluptatibus dolorum
                        rerum
                        dicta, molestias nisi deleniti?
                    </p>
                    <hr>

                    <h6 id="list-item-3">How to manage your cookie preferences?</h6>
                    <p style="font-size:10px;">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
                        quod
                        ipsam commodi nisi
                        eveniet deleniti, vel reiciendis culpa iure voluptatibus odit, laborum nam.
                    </p>
                    <p style="font-size:10px;">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum nemo
                        dignissimos tenetur culpa ad
                        aliquam sed delectus non blanditiis, architecto laboriosam similique dolorum nesciunt
                        corrupti
                        rerum iusto? Voluptatibus saepe optio beatae, perspiciatis itaque nisi iste veritatis
                        quisquam
                        libero. Totam, ipsum.
                    </p>
                    <h6 style="font-size:12px;">Subtitle goes here</h6>
                    <ol style="font-size:10px;">
                        <li>
                            But I must explain to you how all this mistaken idea of denouncing pleasure and praising
                            pain.
                            <ul>
                                <li>
                                    On the other hand, we denounce with righteous indignation and dislike men who
                                    are so
                                    beguiled.
                                </li>
                                <li>
                                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                                    praesentium voluptatum deleniti atque
                                </li>
                            </ul>
                        </li>
                        <li>
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                            voluptatum deleniti atque
                        </li>
                        <li>
                            On the other hand, we denounce with righteous indignation and dislike men who are so
                            beguiled and demoralized
                        </li>
                        <li>
                            But I must explain to you how all this mistaken idea of denouncing pleasure and praising
                            pain.
                        </li>
                        <li>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut
                            labore et dolore
                        </li>
                    </ol>
                    <p style="font-size:10px;">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
                        aspernatur deleniti nulla. Nisi neque sunt modi temporibus, harum vero adipisci blanditiis
                        deleniti commodi ratione. Corrupti consequuntur qui fuga excepturi dicta placeat vel
                        officiis
                        ipsa.
                    </p>

                </div>
            </div>
        </div>
    </div>
    <hr style="margin-top:35px;">
    <div class="body-2">
        <a href="#" class="hover">Privacy Policy</a>
    </div>
</div>
