@using CI_Plateform.DbModels
@model MissionTheme

<div class="container-fluid" style="padding-left:0px;">
    <div class="row flex-nowrap container-fluid">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0" style="background-color:#f88634;position: sticky;
            top: 0;height: 100vh;">
            <div class=" d-flex flex-column align-items-center align-items-sm-start pt-2 text-white
                min-vh-100">
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start pt-4"
                    id="menu" style="font-size:13px;width: 100%;">
                    <h6 class="navigation">NAVIGATION</h6>
                    <li class="nav-item" style="width:inherit;">
                        <a asp-controller="Admin" asp-action="aUser" class="nav-link sidebar" role="tab" aria-selected="false"
                           style="width:100%;text-align: left;">
                            <i class="bi bi-person-fill mr-3"></i>
                            <span class="ms-1 d-none d-sm-inline">User</span>
                        </a>
                    </li>
                    <hr style="margin:2px;width:100%;color: white; ">

                    <li class="nav-item" style="width:inherit;">
                        <a asp-controller="Admin" asp-action="aCMS" class="nav-link sidebar" role="tab" aria-selected="false"
                           style="width:100%;text-align: left;">
                            <i class="bi bi-file-earmark-text-fill mr-3"></i><span class="ms-1 d-none d-sm-inline">CMS Pages</span>
                        </a>
                    </li>
                    <hr style="margin:2px;width:100%;color: white; ">
                    <li class="nav-item" style="width:inherit;">
                        <a asp-controller="Admin" asp-action="aMission" class="nav-link sidebar" role="tab" aria-selected="false"
                           style="width:100%;text-align: left;">
                            <i class="bi bi-bullseye mr-3"></i><span class="ms-1 d-none d-sm-inline">Mission</span>
                        </a>
                    </li>

                    <hr style="margin:2px;width:100%;color: white; ">
                    <li class="nav-item" style="width:inherit;">
                        <a asp-controller="Admin" asp-action="aTheme" class="nav-link active sidebar" role="tab" aria-selected="true"
                           style="width:100%;text-align: left;">
                            <i class="bi bi-columns-gap mr-3"></i> <span class="ms-1 d-none d-sm-inline">
                                Mission Theme
                            </span>
                        </a>
                    </li>

                    <hr style="margin:2px;width:100%;color: white; ">
                    <li class="nav-item" style="width:inherit;">
                        <a asp-controller="Admin" asp-action="aSkill" class="nav-link sidebar" role="tab" aria-selected="false"
                           style="width:100%;text-align: left;">
                            <i class="bi bi-tools mr-3"></i>
                            <span class="ms-1 d-none d-sm-inline">
                                Mission
                                Skills
                            </span>
                        </a>
                    </li>

                    <hr style="margin:2px;width:100%;color: white; ">
                    <li class="nav-item" style="width:inherit;">
                        <a asp-controller="Admin" asp-action="aApplication" class="nav-link sidebar" role="tab" aria-selected="false"
                           style="width:100%;text-align: left;">
                            <i class="bi bi-files mr-3"></i>
                            <span class="ms-1 d-none d-sm-inline">
                                Mission Application
                            </span>
                        </a>
                    </li>
                    <hr style="margin:2px;width:100%;color: white; ">
                    <li class="nav-item" style="width:inherit;">
                        <a asp-controller="Admin" asp-action="aStorylisting" class="nav-link sidebar" role="tab" aria-selected="false"
                           style="width:100%;text-align: left;">
                            <i class="bi bi-bookmark-star"></i>
                            <span class="ms-1 d-none d-sm-inline">
                                Story Listing
                            </span>
                        </a>
                    </li>
                    <hr style="margin:2px;width:100%;color: white; ">
                    <li class="nav-item" style="width:inherit;">
                        <a asp-controller="Admin" asp-action="aStorydetail" class="nav-link sidebar" role="tab" aria-selected="false"
                           style="width:100%;text-align: left;">
                            <i class="bi bi-book"></i>
                            <span class="ms-1 d-none d-sm-inline">
                                Story Detail
                            </span>
                        </a>
                    </li>
                    <hr style="margin:2px;width:100%;color: white; ">
                    <li class="nav-item" style="width:inherit;">
                        <a asp-controller="Admin" asp-action="aBanner" class="nav-link sidebar" role="tab" aria-selected="false"
                           style="width:100%;text-align: left;">
                            <i class="bi bi-card-heading"></i>
                            <span class="ms-1 d-none d-sm-inline">
                                Banner Management
                            </span>
                        </a>
                    </li>
                    <hr style="margin:2px;width:100%;color: white; ">
                </ul>
            </div>
        </div>

        <div class="tab-content col py-4 px-5" id="v-pills-tabContent" style="font-size:13px;">
           <div style="display: flow-root;">
                @*<div style="align-items: center;display: flex;">
                    @Model.dateCreated.ToString("dddd, dd MMMM yyyy , hh:mm:tt")
                </div>*@
                <div class="dropdown" style="bottom:19px;">
                    <a href="#" class="d-flex align-items-center text-black text-decoration-none dropdown-toggle"
                       id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false" style="float:right;">
                        <img src="~/assets/user-img.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">Ritul</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-white text-small shadow">
                        <li><a class="dropdown-item" href="#">My Profile</a></li>
                        <li><a class="dropdown-item" href="#">Volunteering Timesheet</a></li>
                        <li><a class="dropdown-item" href="#">Logout</a></li>
                    </ul>
                </div>
            </div>
            <hr style="margin-top: 0px;border-bottom: groove;" />
            <span class="border-bottom border-dark border-2 pb-2" style="font-size: 22px;">Edit Theme</span>
            <form class="pt-3" method="post" action="aThemeedit">
                <div class="row" style="margin:18px 0px;padding-left: 0px;font-size:10px;">
                    <label asp-for="Title" style="padding:0px;">Mission title</label><br>
                    <input asp-for="Title" type="text" id="mTitle" name="Title" placeholder="Enter Mission title"
                           class="sherescontainer1" required>
                </div>
                <div class="row" style="margin:18px 0px;padding-left: 0px;font-size:10px;">
                    <label asp-for="Status" class="ps-0">Status</label><br>
                    <input asp-for="Status" type="number" id="number" name="Status" placeholder="Enter 0 or 1" step="1" min="0"
                           max="1" class="sherescontainer1">
                </div>
                <input asp-for="MissionThemeId" hidden/>
                <input asp-for="CreatedAt" hidden/>
                <div class="row mt-2" style="margin:0px;display:block;float: right;">
                    <button type="button" class="form-control rounded-pill btn btn-outline-dark font  sherescontainer10">
                             <a asp-controller="Admin" asp-action="aTheme" class="cancelbutton">
                               cancel
                            </a>
                    </button>
                    <button type="submit" asp-controller="Admin" asp-action="aThemeedit" class="form-control rounded-pill btn btn-outline-warning font"
                            style="width:auto;font-size: 12px;">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>