@using CI_Plateform.Models
@model UserVm

<div class="container-fluid" style="padding-left:0px;">
    <div class="row flex-nowrap container-fluid">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0" style="background-color:#f88634;position: sticky;
            top: 0;height: 100vh;">
            <div class=" d-flex flex-column align-items-center align-items-sm-start pt-2 text-white
                min-vh-100">
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start pt-4"
                    id="menu" style="font-size:13px;width: 100%;">
                    <h6 class="navigation">NAVIGATION</h6>
                    <li class="nav-item" style="width:inherit;">
                        <a asp-controller="Admin" asp-action="aUser" class="nav-link active sidebar" role="tab" aria-selected="true"
                           style="width:100%;text-align: left;">
                            <i class="bi bi-person-fill mr-3"></i>
                            <span class="ms-1 d-none d-sm-inline">User</span>
                        </a>
                    </li>
                    <hr style="margin:2px;width:100%;color: white; ">

                    <li class="nav-item" style="width:inherit;">
                        <a asp-controller="Admin" asp-action="aCMS" class="nav-link sidebar" role="tab" aria-selected="false"
                           style="width:100%;text-align: left;">
                            <i class="bi bi-file-earmark-text-fill mr-3"></i><span class="ms-1 d-none d-sm-inline">CMS Pages</span>
                        </a>
                    </li>
                    <hr style="margin:2px;width:100%;color: white; ">
                    <li class="nav-item" style="width:inherit;">
                        <a asp-controller="Admin" asp-action="aMission" class="nav-link sidebar" role="tab" aria-selected="false"
                           style="width:100%;text-align: left;">
                            <i class="bi bi-bullseye mr-3"></i><span class="ms-1 d-none d-sm-inline">Mission</span>
                        </a>
                    </li>

                    <hr style="margin:2px;width:100%;color: white; ">
                    <li class="nav-item" style="width:inherit;">
                        <a asp-controller="Admin" asp-action="aTheme" class="nav-link sidebar" role="tab" aria-selected="false"
                           style="width:100%;text-align: left;">
                            <i class="bi bi-columns-gap mr-3"></i> <span class="ms-1 d-none d-sm-inline">
                                Mission Theme
                            </span>
                        </a>
                    </li>

                    <hr style="margin:2px;width:100%;color: white; ">
                    <li class="nav-item" style="width:inherit;">
                        <a asp-controller="Admin" asp-action="aSkill" class="nav-link sidebar" role="tab" aria-selected="false"
                           style="width:100%;text-align: left;">
                            <i class="bi bi-tools mr-3"></i>
                            <span class="ms-1 d-none d-sm-inline">
                                Mission
                                Skills
                            </span>
                        </a>
                    </li>

                    <hr style="margin:2px;width:100%;color: white; ">
                    <li class="nav-item" style="width:inherit;">
                        <a asp-controller="Admin" asp-action="aApplication" class="nav-link sidebar" role="tab" aria-selected="false"
                           style="width:100%;text-align: left;">
                            <i class="bi bi-files mr-3"></i>
                            <span class="ms-1 d-none d-sm-inline">
                                Mission Application
                            </span>
                        </a>
                    </li>
                    <hr style="margin:2px;width:100%;color: white; ">
                    <li class="nav-item" style="width:inherit;">
                        <a asp-controller="Admin" asp-action="aStorylisting" class="nav-link sidebar" role="tab" aria-selected="false"
                           style="width:100%;text-align: left;">
                            <i class="bi bi-bookmark-star"></i>
                            <span class="ms-1 d-none d-sm-inline">
                                Story Listing
                            </span>
                        </a>
                    </li>
                    <hr style="margin:2px;width:100%;color: white; ">
                    <li class="nav-item" style="width:inherit;">
                        <a asp-controller="Admin" asp-action="aStorydetail" class="nav-link sidebar" role="tab" aria-selected="false"
                           style="width:100%;text-align: left;">
                            <i class="bi bi-book"></i>
                            <span class="ms-1 d-none d-sm-inline">
                                Story Detail
                            </span>
                        </a>
                    </li>
                    <hr style="margin:2px;width:100%;color: white; ">
                    <li class="nav-item" style="width:inherit;">
                        <a asp-controller="Admin" asp-action="aBanner" class="nav-link sidebar" role="tab" aria-selected="false"
                           style="width:100%;text-align: left;">
                            <i class="bi bi-card-heading"></i>
                            <span class="ms-1 d-none d-sm-inline">
                                Banner Management
                            </span>
                        </a>
                    </li>
                    <hr style="margin:2px;width:100%;color: white; ">
                </ul>
            </div>
        </div>

        <div class="tab-content col py-4 px-5" id="v-pills-tabContent" style="font-size:13px;">
            <div style="display: flow-root;">
                <div style="align-items: center;display: flex;">
                    @Model.dateCreated.ToString("dddd, dd MMMM yyyy , hh:mm:tt")
                </div>
                <div class="dropdown" style="bottom:19px;">
                    <a href="#" class="d-flex align-items-center text-black text-decoration-none dropdown-toggle"
                       id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false" style="float:right;">
                        <img src="~/assets/user-img.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">Ritul</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-white text-small shadow">
                        <li><a class="dropdown-item" href="#">My Profile</a></li>
                        <li><a class="dropdown-item" href="#">Volunteering Timesheet</a></li>
                        <li><a class="dropdown-item" href="#">Logout</a></li>
                    </ul>
                </div>
            </div>
            <hr style="margin-top: 0px;border-bottom: groove;" />
            <span class="border-bottom border-dark border-2 pb-2" style="font-size: 22px;">Add user</span>
            <form class="pt-3" method="post" action="aUseradd">
                <div class="row" style="margin:0px;font-size: 10px;">
                    <div class="col-md-6 col-sm-12 mt-2" style="padding:0px 15px 0px 0px;">
                        <label asp-for="User.FirstName">Name*</label><br>
                        <input type="text" asp-for="User.FirstName" id="name" name="User.FirstName" placeholder="Enter your name"
                               class="sherescontainer1" required>
                    </div>
                    <div class="col-md-6 col-sm-12 mt-2" style="padding:0px 15px 0px 0px;">
                        <label asp-for="User.LastName">Surname*</label><br>
                        <input type="text" asp-for="User.LastName" id="surname" name="User.LastName" placeholder="Enter your surname"
                               class="sherescontainer1" required>
                    </div>
                </div>
                <div class="row" style="margin:0px;font-size: 10px;">
                    <div class="col-md-6 col-sm-12 mt-2" style="padding:0px 15px 0px 0px;">
                        <label asp-for="User.Email">Email*</label><br>
                        <input type="email" asp-for="User.Email" id="email" name="User.Email" placeholder="Enter your email"
                               class="sherescontainer1" required>
                    </div>
                    <div class="col-md-6 col-sm-12 mt-2" style="padding:0px 15px 0px 0px;">
                        <label asp-for="User.Password">Password*</label><br>
                        <input type="password" asp-for="User.Password" id="password" name="User.Password" placeholder="Enter your password"
                               class="sherescontainer1" required>
                    </div>
                </div>
                <div class="row" style="margin:0px;font-size: 10px;">
                    <div class="col-md-6 col-sm-12 mt-2" style="padding:0px 15px 0px 0px;">
                        <label asp-for="User.PhoneNumber">Phone number</label><br>
                        <input type="number" asp-for="User.PhoneNumber" id="phonenumber" name="User.PhoneNumber"
                               placeholder="Enter your phonenumber" class="sherescontainer1" required>
                    </div>
                    <div class="col-md-6 col-sm-12 mt-2" style="padding:0px 15px 0px 0px;">
                        <label asp-for="User.Avatar" style="padding:0px;">Avatar</label><br>
                        <input class="form-control form-control-sm mb-2" asp-for="User.Avatar" name="User.Avatar" style="font-size:10px;" id="formFileSm"
                               type="file">
                    </div>
                </div>
                <div class="row" style="margin:0px;font-size: 10px;">
                    <div class="col-md-6 col-sm-12 mt-2" style="padding:0px 15px 0px 0px;">
                        <label asp-for="User.EmployeeId">Employee id</label><br>
                        <input type="number" asp-for="User.EmployeeId" id="empid" name="User.EmployeeId" placeholder="Enter your employee id"
                               class="sherescontainer1" required>
                    </div>
                    <div class="col-md-6 col-sm-12 mt-2" style="padding:0px 15px 0px 0px;">
                       <label asp-for="User.Department">Department</label><br>
                        <input type="text" asp-for="User.Department" id="Department" name="User.Department" placeholder="Enter your depatment"
                               class="sherescontainer1" required>
                    </div>
                </div>
                <div class="row mt-2" style="margin:0px;padding-right: 15px; padding-left: 0px;font-size:10px;">
                    <label asp-for="User.WhyIVolunteer" style="padding:0px;">Why i volunteer??</label><br>
                        <textarea  asp-for="User.WhyIVolunteer" name="User.WhyIVolunteer" placeholder="Enter description..." style="color: #757575;width:100%;height:100px;resize:none;border: 1px solid #d9d9d9;"></textarea>
                </div>
                <div class="row" style="margin:0px;font-size: 10px;">
                    <div class="col-md-6 col-sm-12 mt-2" style="padding:0px 15px 0px 0px;">
                        <label asp-for="City.CityId">City</label>
                        @Html.DropDownListFor(m => m.City.CityId, Model.CityList, "Select a City",
                        new { @class = "sherescontainer1" })
                        <span asp-validation-for="City.CityId" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 col-sm-12 mt-2" style="padding:0px 15px 0px 0px;">
                        <label asp-for="Country.CountryId">Country</label>
                        @Html.DropDownListFor(m => m.Country.CountryId, Model.CountryList, "Select a Country",
                        new { @class = "sherescontainer1"})
                        <span asp-validation-for="Country.CountryId" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mt-2" style="margin:0px;padding-right: 15px; padding-left: 0px;font-size:10px;">
                    <label asp-for="User.ProfileText" style="padding:0px;">Profile Text</label><br>
                        <textarea  asp-for="User.ProfileText" name="User.ProfileText" placeholder="Enter text..." style="color: #757575;width:100%;height:100px;resize:none;border: 1px solid #d9d9d9;"></textarea>
                    @*<div style="width:100%;padding:0px;">
                        <div asp-for="ProfileText" id="editor1">Enter text.</div>
                    </div>*@
                </div>
                <div class="row" style="margin:0px;font-size: 10px;">
                    <div class="col-md-6 col-sm-12 mt-2" style="padding:0px 15px 0px 0px;">
                      <label asp-for="User.LinkedInUrl">Linked in URL</label><br>
                        <input type="url" asp-for="User.LinkedInUrl" id="liu" name="User.LinkedInUrl" placeholder="Enter your linked in URL"
                               class="sherescontainer1" required>
                    </div>
                    <div class="col-md-6 col-sm-12 mt-2" style="padding:0px 15px 0px 0px;">
                        <label asp-for="User.Title">Title</label><br>
                        <input type="text" asp-for="User.Title" id="title" name="User.Title" placeholder="Enter your title" class="sherescontainer1"
                               required>
                    </div>
                </div>

                <div class="row mt-2" style="margin:0px;display:block;float: right;">
                    <button type="button" class="form-control rounded-pill btn btn-outline-dark font  sherescontainer10">
                             <a asp-controller="Admin" asp-action="aUser" class="cancelbutton">
                               cancel
                            </a>
                    </button>
                    <button type="submit" asp-controller="Admin" asp-action="aUseradd" class="form-control rounded-pill btn btn-outline-warning font"
                            style="width:auto;font-size: 12px;">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
