@{
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CI_Plateform</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CI_Plateform.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/virtual-select-plugin@1.0.33/dist/virtual-select.min.css">
    <link rel="stylesheet" href="~/css/Virtual-Select.css" />

</head>
<body>

    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <script src="~/js/popper.min.js" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script src="https://cdn.ckeditor.com/ckeditor5/35.3.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#editor'))
            .then(editor => {
                console.log(editor);
            })
            .catch(error => {
                console.error(error);
            });
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#User').DataTable();
        });
        $(document).ready(function() {
            $('#CMSPages').DataTable();
        });
        $(document).ready(function() {
            $('#Mission').DataTable();
        });
        $(document).ready(function() {
            $('#Theme').DataTable();
        });
        $(document).ready(function() {
            $('#Skills').DataTable();
        });
        $(document).ready(function() {
            $('#Application').DataTable();
        });
        $(document).ready(function() {
            $('#Story').DataTable();
        });
        $(document).ready(function() {
            $('#Story1').DataTable();
        });

        /*  ClassicEditor
              .create(document.querySelector('#editor'))
              .then(editor => {
                  console.log(editor);
              })
              .catch(error => {
                  console.error(error);
              });
          ClassicEditor
              .create(document.querySelector('#editor1'))
              .then(editor => {
                  console.log(editor);
              })
              .catch(error => {
                  console.error(error);
              });
          ClassicEditor
              .create(document.querySelector('#editor2'))
              .then(editor => {
                  console.log(editor);
              })
              .catch(error => {
                  console.error(error);
              });
          ClassicEditor
              .create(document.querySelector('#editor3'))
              .then(editor => {
                  console.log(editor);
              })
              .catch(error => {
                  console.error(error);
              });
          ClassicEditor
              .create(document.querySelector('#editor4'))
              .then(editor => {
                  console.log(editor);
              })
              .catch(error => {
                  console.error(error);
              });
          ClassicEditor
              .create(document.querySelector('#editor5'))
              .then(editor => {
                  console.log(editor);
              })
              .catch(error => {
                  console.error(error);
              });*/
    </script>


    <script>
    setTimeout(alertFunc, 1000);
    function alertFunc() {
        VirtualSelect.init({
            ele: '#skillSelect'
        });
    }
    $(document).ready(function() {
        $("#goalMission").hide();
        $("#timeMission").hide();
        $("#ddlCountry").change(function() {
            ddlCity = $('#ddlCity');
            $.ajax({
                url: '/Admin/GetCity',
                type: 'POST',
                dataType: 'json',
                data: { id: $(this).val() },
                success: function(d) {
                    ddlCity.empty();
                    ddlCity.append($("<option></option>").val('').html('Select City'));
                    $.each(d, function(i, city) {
                        ddlCity.append($("<option></option>").val(city.value).html(city.text));
                    });
                },
                error: function() {
                    alert('Error');
                }
            });
        });
        $("#ddlMissionType").change(function() {
            value = $(this).val();
            if (value == 1) {
                $("#timeMission").show();
                $("#goalMission").hide();
            }
            else if (value == 2) {
                $("#timeMission").hide();
                $("#goalMission").show();
            }
        });
    });
</script>



</body>
</html>
