<div class="body-1">
    <div class="body-2">
        <div class="nevbar-1" style="height:43px;">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid" style="padding:0px;justify-content:initial;">
                    <button class="navbar-toggler pad1 pe-2" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <button type="button" data-bs-toggle="offcanvas" data-bs-target="#addmission"
                            aria-controls="addmission"
                            class="form-control rounded-pill btn btn-outline-warning font navbar-toggler"
                            style="width:auto;font-size: 12px;margin-right: 16px;">
                        Submit New Mission
                        <i class="bi bi-arrow-right ps-1"></i>
                    </button>
                    <div class="dropdown navbar-toggler">
                        <a href="#" class="d-flex align-items-center text-black text-decoration-none"
                           id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false" style="float:right;">
                            <img src="~/assets/user-img.png" alt="hugenerd" width="30" height="30"
                                 class="rounded-circle">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-white text-small shadow">
                            <li><a class="dropdown-item" href="#">My Profile</a></li>
                            <li><a class="dropdown-item" href="#">Volunteering Timesheet</a></li>
                            <li><a class="dropdown-item" href="#">Logout</a></li>
                        </ul>
                    </div>
                    <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1"
                         id="navbarSupportedContent" aria-labelledby="offcanvasExampleLabel">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvasExampleLabel"></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                    aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <div class="navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="#">Stories </a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown"
                                           aria-expanded="false">
                                            Policy <i class="bi bi-chevron-down ps-1" style="font-size:12px;"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Volunteering</a></li>
                                            <li><a class="dropdown-item" href="#">Sponsored</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <button type="button" data-bs-toggle="offcanvas" data-bs-target="#addmission"
                                        aria-controls="addmission"
                                        class="form-control rounded-pill btn btn-outline-warning font"
                                        style="width:auto;font-size: 12px;margin-right: 16px;">
                                    Submit New Mission
                                    <i class="bi bi-arrow-right ps-1"></i>
                                </button>
                                <div class="dropdown">
                                    <a href="#" class="d-flex align-items-center text-black text-decoration-none"
                                       id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                                        <img src="~/assets/user-img.png" alt="hugenerd" width="30" height="30"
                                             class="rounded-circle">
                                        <span class="d-none d-sm-inline mx-1">
                                            Ritul <i class="bi bi-chevron-down ps-1" style="font-size:12px;"></i>
                                        </span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-white text-small shadow">
                                        <li><a class="dropdown-item" href="#">My Profile</a></li>
                                        <li><a class="dropdown-item" href="#">Volunteering Timesheet</a></li>
                                        <li><a class="dropdown-item" href="#">Logout</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <hr>
    <div class="body-2">
        <div class="row">
            <div class="col-md-3 col-sm-12 ueditcontainer1">
                <img src="~/assets/user-img.png" alt="Error"
                     style="width: 70px;height: 70px;border-radius: 100%;margin-top: 18px;">
                <p style="font-size:10px;">Evan Donohue</p>
            </div>
            <div class="col-md-9 col-sm-12">
                <h6 style="font-size:14px;">Basic Information </h6>
                <hr>
                <div class="row" style="margin:18px 0px;font-size: 10px;">
                    <div class="col-md-6 col-sm-12" style="padding:0px 15px 0px 0px;">
                        <label for="name">Name*</label><br>
                        <input type="text" id="name" name="name" placeholder="Enter your name"
                               class="sherescontainer1" required>
                    </div>
                    <div class="col-md-6 col-sm-12" style="padding:0px 15px 0px 0px;">
                        <label for="surname">Surname*</label><br>
                        <input type="text" id="surname" name="surname" placeholder="Enter your surname"
                               class="sherescontainer1" required>
                    </div>
                </div>
                <div class="row" style="margin:18px 0px;font-size: 10px;">
                    <div class="col-md-6 col-sm-12" style="padding:0px 15px 0px 0px;">
                        <label for="Employee ID">Employee ID</label><br>
                        <input type="text" id="Employee ID" name="Employee ID" placeholder="Enter your employee id"
                               class="sherescontainer1">
                    </div>
                    <div class="col-md-6 col-sm-12" style="padding:0px 15px 0px 0px;">
                        <label for="Manager">Manager</label><br>
                        <input type="text" id="Manager" name="Manager" placeholder="Enter your manager details"
                               class="sherescontainer1">
                    </div>
                </div>
                <div class="row" style="margin:18px 0px;font-size: 10px;">
                    <div class="col-md-6 col-sm-12" style="padding:0px 15px 0px 0px;">
                        <label for="Title">Title</label><br>
                        <input type="text" id="Title" name="Title" placeholder="Enter your title"
                               class="sherescontainer1">
                    </div>
                    <div class="col-md-6 col-sm-12" style="padding:0px 15px 0px 0px;">
                        <label for="Department">Department</label><br>
                        <input type="text" id="Department" name="Department"
                               placeholder="Enter your department details" class="sherescontainer1">
                    </div>
                </div>
                <div class="row" style="margin:18px 0px; font-size: 10px;">
                    <label for="My Profile" style="padding:0px;">My Profile*</label><br>
                    <textarea id="My Profile" name="My Profile" placeholder="Enter your comments..."
                              style="width:100%;height:100px;border: 1px solid #d9d9d9;box-shadow: none;resize: none;"
                              required></textarea>
                </div>
                <div class="row" style="margin:18px 0px; font-size: 10px;">
                    <label for="Why I" style="padding:0px;">Why I Volunteer?</label><br>
                    <textarea id="Why I" name="Why I" placeholder="Enter your comments..."
                              style="width:100%;height:100px;border: 1px solid #d9d9d9;resize: none;"></textarea>
                </div>
                <h6 style="font-size:14px;">Address Information</h6>
                <hr>
                <div class="row" style="margin:18px 0px;font-size: 10px;">
                    <div class="col-md-6 col-sm-12" style="padding:0px 15px 0px 0px;">
                        <label for="Country">City*</label><br>
                        <select name="Country" id="Country" class="sherescontainer1">
                            <option value="">Select your City</option>
                            <option value="India">Amreli</option>
                            <option value="Italy">Rajkot</option>
                            <option value="Switzerland">Surat</option>
                            <option value="Canada">Ahmedabad</option>
                        </select>
                    </div>
                    <div class="col-md-6 col-sm-12" style="padding:0px 15px 0px 0px;">
                        <label for="Country">Country*</label><br>
                        <select name="Country" id="Country" class="sherescontainer1">
                            <option value="">Select your Country</option>
                            <option value="India">India</option>
                            <option value="Italy">Italy</option>
                            <option value="Switzerland">Switzerland</option>
                            <option value="Canada">Canada</option>
                            <option value="Ireland">Ireland</option>
                        </select>
                    </div>
                </div>
                <h6 style="font-size:14px;">Professional Information</h6>
                <hr>
                <div class="row" style="margin:18px 0px;font-size: 10px;">
                    <div class="col-md-6 col-sm-12" style="padding:0px 15px 0px 0px;">
                        <label for="Availablity">Availablity</label><br>
                        <select name="Availablity" id="Availablity" aria-placeholder="Select your availablity"
                                class="sherescontainer1">
                            <option value="">Select your availablity</option>
                            <option value="India">India</option>
                            <option value="Italy">Italy</option>
                            <option value="Switzerland">Switzerland</option>
                            <option value="Canada">Canada</option>
                            <option value="Ireland">Ireland</option>
                        </select>
                    </div>
                    <div class="col-md-6 col-sm-12" style="padding:0px 15px 0px 0px;">
                        <label for="LinkedIn">LinkedIn</label><br>
                        <input type="text" id="LinkedIn" name="LinkedIn" placeholder="Enter linkedIn URL"
                               class="sherescontainer1">
                    </div>
                </div>
                <h6 style="font-size:14px;">My Skills</h6>
                <hr>
                <div class="row" style="margin:18px 0px; font-size: 10px;">
                    <textarea style="width:100%;height:100px;border: 1px solid #d9d9d9;resize: none;">Anthropology , Archeology , Astronomy , Computer Science , Environmental Science , History
                        </textarea>
                </div>
                <div class="row" style="margin:18px 0px;display:block;">
                    <button type="submit" data-bs-toggle="offcanvas" data-bs-target="#addskills"
                            class="form-control rounded-pill btn btn-outline-secondary font  sherescontainer10">
                        Add
                        Skills
                    </button>
                    <button type="submit" data-bs-toggle="offcanvas" data-bs-target="#changepassword"
                            aria-controls="changepassword"
                            class="form-control rounded-pill btn btn-outline-secondary font  sherescontainer10">
                        Change
                        Password
                    </button>

                </div>
                <div class="row" style="margin:18px 0px;display:block;">
                    <button type="submit"
                            class="form-control rounded-pill btn btn-outline-warning font sherescontainer11">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
    <hr style="margin-top:35px;">
    <div class="body-2">
        <a href="#" class="hover">Privacy Policy</a>
        <a href="#" class="hover ps-4" data-bs-toggle="offcanvas" data-bs-target="#contactus"
           aria-controls="contactus">
            Contact
            Us
        </a>
    </div>
</div>

<!-- *********************************************************** -->
<!-- Add Skills -->
<div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="addskills"
     aria-labelledby="staticBackdropLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="staticBackdropLabel">Add your Skills</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            <!-- <select class="form-select" aria-label="Default select example" multiple>
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select> -->

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Anthropology">
                <label class="form-check-label" for="Anthropology">Anthropology</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Archeology">
                <label class="form-check-label" for="Archeology">Archeology</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Astronomy">
                <label class="form-check-label" for="Astronomy">Astronomy</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Science">
                <label class="form-check-label" for="Science">Science</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="History">
                <label class="form-check-label" for="History">History</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Mathematics">
                <label class="form-check-label" for="Mathematics">Mathematics</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Music">
                <label class="form-check-label" for="Music">Music</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Research">
                <label class="form-check-label" for="Research">Research</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Administrative">
                <label class="form-check-label" for="Administrative">Administrative</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Support Customer">
                <label class="form-check-label" for="Support Customer">Support Customer</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Service Data">
                <label class="form-check-label" for="Service Data">Service Data</label>
            </div>
        </div>
        <div class="row" style="margin:18px 0px;display:block;">
            <button type="submit"
                    class="form-control rounded-pill btn btn-outline-black font  sherescontainer10">
                cancel
            </button>
            <button type="submit" class="form-control rounded-pill btn btn-outline-warning font"
                    style="width:auto;font-size: 12px;">
                Save
            </button>
        </div>
    </div>
</div>

<!-- *********************************************************** -->
<!-- Change password -->
<div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="changepassword"
     aria-labelledby="staticBackdropLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="staticBackdropLabel">Change Password</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            <div class="row" style="margin:18px 0px;font-size: 12px;">
                <input type="password" name="name" placeholder="Enter old password" required />
            </div>
            <div class="row" style="margin:18px 0px;font-size: 12px;">
                <input type="password" name="name" placeholder="Enter new password" required />
            </div>
            <div class="row" style="margin:18px 0px;font-size: 12px;">
                <input type="password" name="name" placeholder="Enter confrim password" required />
            </div>
        </div>
        <div class="row" style="margin:18px 0px;display:block;text-align: end;">
            <button type="submit"
                    class="form-control rounded-pill btn btn-outline-black font  sherescontainer10">
                cancel
            </button>
            <button type="submit" class="form-control rounded-pill btn btn-outline-warning font"
                    style="width:auto;font-size: 12px;">
                Change Password
            </button>
        </div>
    </div>
</div>

<!-- ******************************************************************** -->
<!-- Contect Us -->
<div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="contactus"
     aria-labelledby="staticBackdropLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="staticBackdropLabel">Contact Us</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            <div class="row" style="margin:18px 0px;font-size: 12px;">
                <label for="name">Name*</label><br>
                <input type="text" id="name" name="name" placeholder="Ritul limbasiya" class="sherescontainer1"
                       required>
            </div>
            <div class="row" style="margin:18px 0px;font-size: 12px;">
                <label for="email">Email*</label><br>
                <input type="email" id="email" name="email" placeholder="ritul@gmail.com" class="sherescontainer1"
                       required>
            </div>
            <div class="row" style="margin:18px 0px;font-size: 12px;">
                <label for="subject">Subject*</label><br>
                <input type="text" id="subject" name="subject" placeholder="Enter your Subject"
                       class="sherescontainer1" required>
            </div>
            <div class="row" style="margin:18px 0px;font-size: 12px;">
                <label for="Message*" style="padding:0px;">Message*</label><br>
                <textarea id="Message*" name="Message*" placeholder="Enter your Message..."
                          style="width:100%;height:100px;border: 1px solid #d9d9d9;box-shadow: none;resize: none;"
                          required></textarea>
            </div>
        </div>
        <div class="row" style="margin:18px 0px;display:block;text-align: end;">
            <button type="submit"
                    class="form-control rounded-pill btn btn-outline-black font  sherescontainer10">
                cancel
            </button>
            <button type="submit" class="form-control rounded-pill btn btn-outline-warning font"
                    style="width:auto;font-size: 12px;">
                Save
            </button>
        </div>
    </div>
</div>
<!-- ******************************** -->
<!-- Add Mission -->
<div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="addmission"
     aria-labelledby="addmissionLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="addmission">Add New Mission</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            <div class="row" style="margin:18px 0px;font-size: 10px;">
                <div class="col-6" style="padding:0px 15px 0px 0px;">
                    <label for="Country">City*</label><br>
                    <select name="Country" id="Country" class="sherescontainer1">
                        <option value="">Select your City</option>
                        <option value="India">Amreli</option>
                        <option value="Italy">Rajkot</option>
                        <option value="Switzerland">Surat</option>
                        <option value="Canada">Ahmedabad</option>
                    </select>
                </div>
                <div class="col-6" style="padding:0px 15px 0px 0px;">
                    <label for="Country">Country*</label><br>
                    <select name="Country" id="Country" class="sherescontainer1">
                        <option value="">Select your Country</option>
                        <option value="India">India</option>
                        <option value="Italy">Italy</option>
                        <option value="Switzerland">Switzerland</option>
                        <option value="Canada">Canada</option>
                        <option value="Ireland">Ireland</option>
                    </select>
                </div>
            </div>
            <div class="row" style="padding:0px 15px 0px 0px;margin:18px 0px;font-size: 10px;">
                <label for="Mission Title" style="padding:0px;">Mission Title</label><br>
                <input type="text" id="Mission Title" name="Mission Title" placeholder="Enter Mission Title"
                       class="sherescontainer1">
            </div>
            <div class="row" style="margin:18px 0px; font-size: 10px;">
                <label for="Mission Description" style="padding:0px;">Mission Description</label><br>
                <textarea id="Mission Description" name="Mission Description" placeholder="Enter your message..."
                          style="width:100%;height:100px;border: 1px solid #d9d9d9;box-shadow: none;resize: none;"></textarea>
            </div>
            <div class="row" style="padding:0px 15px 0px 0px;margin:18px 0px;font-size: 10px;">
                <label for="mon" style="padding:0px;">Mission Organisation Name</label><br>
                <input type="text" id="mon" name="mon" placeholder="Enter mission organisation name"
                       class="sherescontainer1">
            </div>
            <div class="row" style="margin:18px 0px; font-size: 10px;">
                <label for="mod" style="padding:0px;">Mission Organisation Detail</label><br>
                <textarea id="mod" name="mod" placeholder="Enter your message"
                          style="width:100%;height:100px;border: 1px solid #d9d9d9;box-shadow: none;resize: none;"></textarea>
            </div>
            <div class="row" style="padding:0px 15px 0px 0px;margin:18px 0px;font-size: 10px;">
                <label for="Start Date" style="padding:0px;">Start Date</label><br>
                <input type="Date" id="Start Date" name="Start Date" class="sherescontainer1">
            </div>
            <div class="row" style="padding:0px 15px 0px 0px;margin:18px 0px;font-size: 10px;">
                <label for="End Date" style="padding:0px;">End Date</label><br>
                <input type="date" id="End Date" name="End Date" class="sherescontainer1">
            </div>
            <div class="row" style="padding:0px 15px 0px 0px;margin:18px 0px;font-size: 10px;">
                <label for="Total seats" style="padding:0px;">Total seats</label><br>
                <input type="text" id="Total seats" name="Total seats" placeholder="Enter total seats"
                       class="sherescontainer1">
            </div>
            <div class="row" style="padding:0px 15px 0px 0px;margin:18px 0px;font-size: 10px;">
                <label for="mrd" style="padding:0px;">Mission registration deadline</label><br>
                <input type="text" id="mrd" name="mrd" placeholder="Enter mission registration deadline"
                       class="sherescontainer1">
            </div>
            <div class="row" style="padding:0px 15px 0px 0px;margin:18px 0px;font-size: 10px;">
                <label for="mSkills" style="padding:0px;">Mission Skills</label><br>
                <select name="mSkills" id="mSkills" class="sherescontainer1">
                    <option value="">Select mission Skills</option>
                    <option value="Anthropology">Anthropology</option>
                    <option value="Archeology">Archeology</option>
                    <option value="se">Science Environmental </option>
                    <option value="Science">Science</option>
                    <option value="History">History</option>
                    <option value="Mathematics">Mathematics</option>
                </select>
            </div>
            <div class="row" style="padding:0px 15px 0px 0px;margin:18px 0px;font-size: 10px;">
                <label for="mTheme" style="padding:0px;">Mission Theme</label><br>
                <select name="mTheme" id="mTheme" class="sherescontainer1">
                    <option value="">Select mission theme</option>
                    <option value="Newest">Newest</option>
                    <option value="Oldest">Oldest</option>
                    <option value="Lowest">Lowest available seats</option>
                    <option value="Highest">Highest available seats</option>
                    <option value="fevorite">Short by my fevorite</option>
                    <option value="deadline">Short by deadline</option>
                </select>
            </div>
            <div class="row" style="margin:18px 0px; font-size: 10px;">
                <label for="mod" style="padding:0px;">Mission Organisation Detail</label><br>
                <div style="width:100%;height:100px;border: 1px solid #d9d9d9;box-shadow: none;">
                    <div style="text-align:center;">
                        <button type="submit" style="background-color: white;border: none;">
                            <i class="bi bi-cloud-arrow-up mb-4" style="font-size:30px;"></i>
                        </button>
                        <p>Upload image here</p>
                    </div>
                </div>
            </div>
            <div class="row" style="margin:18px 0px; font-size: 10px;">
                <label for="mod" style="padding:0px;">Mission Documents</label><br>
                <div style="width:100%;height:100px;border: 1px solid #d9d9d9;box-shadow: none;">
                    <div style="text-align:center;">
                        <button type="submit" style="background-color: white;border: none;">
                            <i class="bi bi-cloud-arrow-up mb-4" style="font-size:30px;"></i>
                        </button>
                        <p>Drag and drop resume here or click*</p>
                    </div>
                </div><br>
                <label for="abc" style="padding:0px;color: #757575;font-size:8px;">
                    Allowed file types: PDF,
                    Doc
                </label>
            </div>
            <div class="row" style="padding:0px 15px 0px 0px;margin:18px 0px;font-size: 10px;">
                <label for="mAvailability" style="padding:0px;">Mission Availability</label><br>
                <select name="mAvailability" id="mAvailability" class="sherescontainer1">
                    <option value="">Select availability</option>
                    <option value="Newest">Newest</option>
                    <option value="Oldest">Oldest</option>
                    <option value="Lowest">Lowest available seats</option>
                    <option value="Highest">Highest available seats</option>
                    <option value="fevorite">Short by my fevorite</option>
                    <option value="deadline">Short by deadline</option>
                </select>
            </div>
            <div class="row" style="margin:18px 0px;display:block;text-align:start;">
                <button type="submit"
                        class="form-control rounded-pill btn btn-outline-black font  sherescontainer10">
                    cancel
                </button>
                <button type="submit" class="form-control rounded-pill btn btn-outline-warning font"
                        style="width:auto;font-size: 12px;">
                    Submit
                </button>
            </div>
        </div>
    </div>
</div>

<!-- ********************************* -->
