<div class="body-1">
    <div class="body-2">
        <div class="nevbar-1" style="height:43px;">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid" style="padding:0px;justify-content:initial;">
                    <button class="navbar-toggler pad1" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="dropdown navbar-toggler border-0">
                        <a href="#" class="d-flex align-items-center text-black text-decoration-none"
                           id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="~/assets/user-img.png" alt="hugenerd" width="30" height="30"
                                 class="rounded-circle">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-white text-small shadow">
                            <li><a class="dropdown-item" href="#">My Profile</a></li>
                            <li><a class="dropdown-item" href="#">Volunteering Timesheet</a></li>
                            <li><a class="dropdown-item" href="#">Logout</a></li>
                        </ul>
                    </div>
                    <span class="navbar-toggler pad1 pad01" style="margin-left:4px;">
                        <form class="form-horizontal">
                            <input type="search" class="form-control pad0" placeholder=" &#xF002; Search Mission"
                                   aria-label="Search" />
                        </form>
                    </span>
                    <button class="navbar-toggler pad4" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <i class="bi bi-sliders2-vertical"></i>
                    </button>

                    <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1"
                         id="navbarSupportedContent" aria-labelledby="offcanvasExampleLabel">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvasExampleLabel"></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                    aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <div class="navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="#">Stories </a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown"
                                           aria-expanded="false">
                                            Policy <i class="bi bi-chevron-down ps-1" style="font-size:12px;"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Volunteering</a></li>
                                            <li><a class="dropdown-item" href="#">Sponsored</a></li>
                                        </ul>
                                    </li>
                                </ul>

                                <div class="dropdown">
                                    <a href="#" class="d-flex align-items-center text-black text-decoration-none"
                                       id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                                        <img src="~/assets/user-img.png" alt="hugenerd" width="30" height="30"
                                             class="rounded-circle">
                                        <span class="d-none d-sm-inline mx-1">
                                            Ritul <i class="bi bi-chevron-down ps-1" style="font-size:12px;"></i>
                                        </span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-white text-small shadow">
                                        <li><a class="dropdown-item" href="#">My Profile</a></li>
                                        <li><a class="dropdown-item" href="#">Volunteering Timesheet</a></li>
                                        <li><a class="dropdown-item" href="#">Logout</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid border">
            <div class="body-2" style="display:flex;">
                <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="navbarScroll"
                     aria-labelledby="offcanvasExampleLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasExampleLabel"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <div class="navbar-collapse" id="navbarScroll">
                            <form class="form-horizontal me-auto mb-2 mb-lg-0 d-none d-lg-block  ">
                                <input type="search" class="form-control"
                                       style="width:auto; border: 0px; font-family:Arial, FontAwesome;"
                                       placeholder="&#128269; Search Mission" aria-label="Search" />
                            </form>
                            <div class="col">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0 cardcontainer19"
                                    style="float: right;border-left:1px solid #b3aeae;border-right:1px solid #b3aeae;;">
                                    <li class="nav-item dropdown me-md-4">
                                        <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown"
                                           aria-expanded="false">
                                            Skills <i class="bi bi-chevron-down" style="font-size:12px;"></i></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a class="dropdown-item" href="#">
                                                    <label>
                                                        <input type="checkbox">Anthropology
                                                    </label>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">
                                                    <label>
                                                        <input type="checkbox">Archelogy
                                                    </label>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">
                                                    <label>
                                                        <input type="checkbox">Astronomy
                                                    </label>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">
                                                    <label>
                                                        <input type="checkbox">Computer
                                                        Science
                                                    </label>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">
                                                    <label>
                                                        <input type="checkbox">History
                                                    </label>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">
                                                    <label>
                                                        <input type="checkbox">Reserch
                                                    </label>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0 cardcontainer19"
                                    style="float: right;border-left:1px solid #b3aeae;">
                                    <li class="nav-item dropdown me-md-4">
                                        <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown"
                                           aria-expanded="false">
                                            Theme <i class="bi bi-chevron-down" style="font-size:12px;"></i></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a class="dropdown-item" href="#">
                                                    <label>
                                                        <input type="checkbox">Education
                                                    </label>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">
                                                    <label>
                                                        <input type="checkbox">Children
                                                    </label>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">
                                                    <label>
                                                        <input type="checkbox">Health
                                                    </label>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">
                                                    <label>
                                                        <input type="checkbox">Animals
                                                    </label>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">
                                                    <label>
                                                        <input type="checkbox">Nutritions
                                                    </label>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">
                                                    <label>
                                                        <input type="checkbox">Environment
                                                    </label>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0 cardcontainer19"
                                    style="float: right;border-left:1px solid #b3aeae;">
                                    <li class="nav-item dropdown me-md-4">
                                        <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown"
                                           aria-expanded="false">
                                            City <i class="bi bi-chevron-down" style="font-size:12px;"></i></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a class="dropdown-item" href="#">
                                                    <label>
                                                        <input type="checkbox">Tirana
                                                    </label>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">
                                                    <label>
                                                        <input type="checkbox">Durres
                                                    </label>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">
                                                    <label>
                                                        <input type="checkbox">Shakodar
                                                    </label>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">
                                                    <label>
                                                        <input type="checkbox">Amreli
                                                    </label>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">
                                                    <label>
                                                        <input type="checkbox">Rajkot
                                                    </label>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0 cardcontainer19"
                                    style="float: right;border-left:1px solid #b3aeae;">
                                    <li class="nav-item dropdown me-md-4">
                                        <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown"
                                           aria-expanded="false">
                                            Country <i class="bi bi-chevron-down"
                                                       style="font-size:12px;"></i></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">India</a></li>
                                            <li><a class="dropdown-item" href="#">Italy</a></li>
                                            <li><a class="dropdown-item" href="#">Switzerland</a></li>
                                            <li><a class="dropdown-item" href="#">Canada</a></li>
                                            <li><a class="dropdown-item" href="#">Ireland</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="row Banner">
        <img style="padding:0px;"
             src="~/assets/Grow-Trees-On-the-path-to-environment-sustainability-listingpage.png" alt="Error">
        <div class="listcontainer1">
            <div class="listcontainer2">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui corporis facilis, non laborum optio
                temporibus laboriosam quas iste odio? Dicta, sunt. Assumenda?
            </div>
            <div class="card-body " style="text-align:center;">
                <button class="listcontainer3" type="submit">
                    Share your
                    story <i class="bi bi-arrow-right"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="body-2">
        <div class="row" style="margin-top:24px;">
            <div class="col-md-4 col-sm-12 imghover" style="padding: 0px 20px 12px 4px;">
                <div class="card h-100 shadow">
                    <div class="cardcontainer11">
                        <img src="~/assets/Grow-Trees-On-the-path-to-environment-sustainability.png"
                             class="card-img-top" alt="Error">
                        <div class="listcontaier5">
                            <div class="card-body" style="text-align:center;padding:18%;">
                                <button class="listcontainer3" type="submit">
                                    View details
                                    <i class="bi bi-arrow-right"></i>
                                </button>
                            </div>
                        </div>
                        <button class="cardcontainer15">
                            Environment
                        </button>
                    </div>
                    <div class="card-body" style="margin-bottom:-15px;position: relative;">
                        <h4 style="font-size:15px;">Grow Trees – On the path to environment sustainability</h4>
                        <p style="font-size:12px;">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                            doeiusmod tempor incididunt ut labore...
                        </p>
                    </div>
                    <div class="card-body" style="display: flex;">
                        <img class="listcontainer4" src="~/assets/volunteer1.png" alt="Error">
                        <p style="font-size: 11px;padding-top: 12px;margin-left:6px;">Andrew Johnson</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 imghover" style="padding: 0px 20px 12px 4px;">
                <div class="card h-100 shadow">
                    <div class="cardcontainer11">
                        <img src="~/assets/Education-Supplies-for-Every--Pair-of-Shoes-Sold.png"
                             class="card-img-top" alt="Error">
                        <div class="listcontaier5">
                            <div class="card-body" style="text-align:center;padding:18%;">
                                <button class="listcontainer3" type="submit">
                                    View details
                                    <i class="bi bi-arrow-right"></i>
                                </button>
                            </div>
                        </div>
                        <button class="cardcontainer15">
                            Environment
                        </button>
                    </div>
                    <div class="card-body" style="margin-bottom:-15px;position: relative;">
                        <h4 style="font-size:15px;">CSR initiative stands for Coffee and Farmer Equity</h4>
                        <p style="font-size:12px;">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                            doeiusmod tempor incididunt ut labore...
                        </p>
                    </div>
                    <div class="card-body" style="display: flex;">
                        <img class="listcontainer4" src="~/assets/volunteer2.png" alt="Error">
                        <p style="font-size: 11px;padding-top: 12px;margin-left:6px;">Charles Vigue</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 imghover" style="padding: 0px 20px 12px 4px;">
                <div class="card h-100 shadow">
                    <div class="cardcontainer11">
                        <img src="~/assets/CSR-initiative-stands-for-Coffee--and-Farmer-Equity.png"
                             class="card-img-top" alt="Error">
                        <div class="listcontaier5">
                            <div class="card-body" style="text-align:center;padding:18%;">
                                <button class="listcontainer3" type="submit">
                                    View details
                                    <i class="bi bi-arrow-right"></i>
                                </button>
                            </div>
                        </div>
                        <button class="cardcontainer15">
                            Environment
                        </button>
                    </div>
                    <div class="card-body" style="margin-bottom:-15px;position: relative;">
                        <h4 style="font-size:15px;">CSR initiative stands for Coffee and Farmer Equity</h4>
                        <p style="font-size:12px;">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                            doeiusmod tempor incididunt ut labore...
                        </p>
                    </div>
                    <div class="card-body" style="display: flex;">
                        <img class="listcontainer4" src="~/assets/volunteer3.png" alt="Error">
                        <p style="font-size: 11px;padding-top: 12px;margin-left:6px;">Kathryn Roberts</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 imghover" style="padding: 0px 20px 12px 4px;">
                <div class="card h-100 shadow">
                    <div class="cardcontainer11">
                        <img src="~/assets/Nourish-the-Children-in--African-country-1.png" class="card-img-top"
                             alt="Error">
                        <div class="listcontaier5">
                            <div class="card-body" style="text-align:center;padding:18%;">
                                <button class="listcontainer3" type="submit">
                                    View details
                                    <i class="bi bi-arrow-right"></i>
                                </button>
                            </div>
                        </div>
                        <button class="cardcontainer15">
                            Environment
                        </button>
                    </div>
                    <div class="card-body" style="margin-bottom:-15px;position: relative;">
                        <h4 style="font-size:15px;">CSR initiative stands for Coffee and Farmer Equity</h4>
                        <p style="font-size:12px;">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                            doeiusmod tempor incididunt ut labore...
                        </p>
                    </div>
                    <div class="card-body" style="display: flex;">
                        <img class="listcontainer4" src="~/assets/volunteer4.png" alt="Error">
                        <p style="font-size: 11px;padding-top: 12px;margin-left:6px;">Estella Fowles</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 imghover" style="padding: 0px 20px 12px 4px;">
                <div class="card h-100 shadow">
                    <div class="cardcontainer11">
                        <img src="~/assets/img1.png" class="card-img-top" alt="Error">
                        <div class="listcontaier5">
                            <div class="card-body" style="text-align:center;padding:18%;">
                                <button class="listcontainer3" type="submit">
                                    View details
                                    <i class="bi bi-arrow-right"></i>
                                </button>
                            </div>
                        </div>
                        <button class="cardcontainer15">
                            Environment
                        </button>
                    </div>
                    <div class="card-body" style="margin-bottom:-15px;position: relative;">
                        <h4 style="font-size:15px;">CSR initiative stands for Coffee and Farmer Equity</h4>
                        <p style="font-size:12px;">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                            doeiusmod tempor incididunt ut labore...
                        </p>
                    </div>
                    <div class="card-body" style="display: flex;">
                        <img class="listcontainer4" src="~/assets/volunteer5.png" alt="Error">
                        <p style="font-size: 11px;padding-top: 12px;margin-left:6px;">Rose Lewis</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 imghover" style="padding: 0px 20px 12px 4px;">
                <div class="card h-100 shadow">
                    <div class="cardcontainer11">
                        <img src="~/assets/img11.png" class="card-img-top" alt="Error">
                        <div class="listcontaier5">
                            <div class="card-body" style="text-align:center;padding:18%;">
                                <button class="listcontainer3" type="submit">
                                    View details
                                    <i class="bi bi-arrow-right"></i>
                                </button>
                            </div>
                        </div>
                        <button class="cardcontainer15">
                            Environment
                        </button>
                    </div>
                    <div class="card-body" style="margin-bottom:-15px;position: relative;">
                        <h4 style="font-size:15px;">CSR initiative stands for Coffee and Farmer Equity</h4>
                        <p style="font-size:12px;">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                            doeiusmod tempor incididunt ut labore...
                        </p>
                    </div>
                    <div class="card-body" style="display: flex;">
                        <img class="listcontainer4" src="~/assets/volunteer6.png" alt="Error">
                        <p style="font-size: 11px;padding-top: 12px;margin-left:6px;">Raymond Pabon</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 imghover" style="padding: 0px 20px 12px 4px;">
                <div class="card h-100 shadow">
                    <div class="cardcontainer11">
                        <img src="~/assets/Education-Supplies-for-Every--Pair-of-Shoes-Sold.png"
                             class="card-img-top" alt="Error">
                        <div class="listcontaier5">
                            <div class="card-body" style="text-align:center;padding:18%;">
                                <button class="listcontainer3" type="submit">
                                    View details
                                    <i class="bi bi-arrow-right"></i>
                                </button>
                            </div>
                        </div>
                        <button class="cardcontainer15">
                            Environment
                        </button>
                    </div>
                    <div class="card-body" style="margin-bottom:-15px;position: relative;">
                        <h4 style="font-size:15px;">CSR initiative stands for Coffee and Farmer Equity</h4>
                        <p style="font-size:12px;">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                            doeiusmod tempor incididunt ut labore...
                        </p>
                    </div>
                    <div class="card-body" style="display: flex;">
                        <img class="listcontainer4" src="~/assets/volunteer7.png" alt="Error">
                        <p style="font-size: 11px;padding-top: 12px;margin-left:6px;">Travis Steen</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 imghover" style="padding: 0px 20px 12px 4px;">
                <div class="card h-100 shadow">
                    <div class="cardcontainer11">
                        <img src="~/assets/Education-Supplies-for-Every--Pair-of-Shoes-Sold.png"
                             class="card-img-top" alt="Error">
                        <div class="listcontaier5">
                            <div class="card-body" style="text-align:center;padding:18%;">
                                <button class="listcontainer3" type="submit">
                                    View details
                                    <i class="bi bi-arrow-right"></i>
                                </button>
                            </div>
                        </div>
                        <button class="cardcontainer15">
                            Environment
                        </button>
                    </div>
                    <div class="card-body" style="margin-bottom:-15px;position: relative;">
                        <h4 style="font-size:15px;">CSR initiative stands for Coffee and Farmer Equity</h4>
                        <p style="font-size:12px;">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                            doeiusmod tempor incididunt ut labore...
                        </p>
                    </div>
                    <div class="card-body" style="display: flex;">
                        <img class="listcontainer4" src="~/assets/volunteer8.png" alt="Error">
                        <p style="font-size: 11px;padding-top: 12px;margin-left:6px;">Sarah Santillan</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 imghover" style="padding: 0px 20px 12px 4px;">
                <div class="card h-100 shadow">
                    <div class="cardcontainer11">
                        <img src="~/assets/CSR-initiative-stands-for-Coffee--and-Farmer-Equity.png"
                             class="card-img-top" alt="Error">
                        <div class="listcontaier5">
                            <div class="card-body" style="text-align:center;padding:18%;">
                                <button class="listcontainer3" type="submit">
                                    View details
                                    <i class="bi bi-arrow-right"></i>
                                </button>
                            </div>
                        </div>
                        <button class="cardcontainer15">
                            Environment
                        </button>
                    </div>
                    <div class="card-body" style="margin-bottom:-15px;position: relative;">
                        <h4 style="font-size:15px;">CSR initiative stands for Coffee and Farmer Equity</h4>
                        <p style="font-size:12px;">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                            doeiusmod tempor incididunt ut labore...
                        </p>
                    </div>
                    <div class="card-body" style="display: flex;">
                        <img class="listcontainer4" src="~/assets/volunteer9.png" alt="Error">
                        <p style="font-size: 11px;padding-top: 12px;margin-left:6px;">Linda Richards</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="body-2" style="margin-top:35px;">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item ">
                    <a class="page-link cardcontainer17" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item "><a class="page-link cardcontainer17" href="#">1</a></li>
                <li class="page-item "><a class="page-link cardcontainer17" href="#">2</a></li>
                <li class="page-item "><a class="page-link cardcontainer17" href="#">3</a></li>
                <li class="page-item "><a class="page-link cardcontainer17" href="#">4</a></li>
                <li class="page-item "><a class="page-link cardcontainer17" href="#">5</a></li>
                <li class="page-item ">
                    <a class="page-link cardcontainer17" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <hr style="margin-top:35px;">
    <div class="body-2">
        <a href="#" class="hover">Privacy Policy</a>
    </div>
</div>
